@import 'settings.variables';

@import '~normalize.css/normalize.css';

@import 'tools.mixins';

@import 'generic.shared';

@import 'elements.links';
@import 'elements.buttons';
@import 'elements.forms';
@import 'elements.headings';

@import 'components.header';
@import 'components.dashboard';
@import 'components.codeWindow';
@import 'components.previewWindow';
@import 'components.footer';


.u-center {
  text-align: center;
}

//--------------------------------------------------------//

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.state-todo {
  color:red;
}

.state-review {
  color: orange;
}

.state-done {
  color: forestgreen;
}

.design {
  max-height: 500px;
  max-width: 1200px;
}

.error {
  color: red;
}