@import 'variables';

// Globals

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--brandMain);  
}

// Typography

html {
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 100%;
}


// Layout & Templating

.window {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: $headerHght auto auto $headerHght;
  grid-template-areas: 
    "header header header header"
    "code view view view"
    "code view view view"
    "code footer footer footer";
}


.header {  
  height: $headerHght;
  grid-area: header;
}

.code {
  background: red;
  grid-area: code;
}

.view {
  background: yellow;
  grid-area: view;
}

.footer {
  background: lime;
  grid-area: footer;
}

//--------------------------------------------------------//

.project-info {
  text-align: center;
}

//-------------------   BUTTONS    -----------------------//

%btn {
  background: none;
  border: 0;
}


.btn--create {
  @extend %btn;
  background: var(--brandCon);
  color: var(--brandMain);
}


//--------------------------------------------------------//

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.state-todo {
  color:red;
}

.state-review {
  color: orange;
}

.state-done {
  color: forestgreen;
}

.code {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #f5f2f0;
  border: 2px solid #949494;
  margin-left: 5px;
}

.design {
  max-height: 500px;
  max-width: 1200px;
}

.error {
  color: red;
}
