/* 
These are the styles that are needed to render the pattern preview. 
*/


%status { // Styles for the status bubbles

	@include size(1rem);
	background: $c-inactive;
	background: var(--inactive, $c-inactive);
	border-radius: 100%;
	margin: 0 0.5rem 0 0;

	&.accepted {
		background: $c-positive;
		background: var(--positive, $c-positive);
	}

	&.rejected {
		background: $c-alert;
		background: var(--alert, $c-alert);
	}

	&.toCheck {
		background: $c-warning;
		background: var(--warning, $c-warning);
	}

	&.wip {
		background: white;
	}
}

// Preview Base --------- //


.preview { 

  grid-area: view;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  overflow: auto;

  &-inner {
  	height: calc(100% - 50px);
  }
  
  iframe { //  THIS IS THE IFRAME CONTAINING THE PATTERN.
  	height: 100%;
    width: 100%;
  } 

}

.preview-infosWrap {

	align-items: center;
	background: var(--brandMain, $c-brandMain);
	display: flex;
	font-family: Arial, sans-serif;
	font-size: 0.75rem;
	height: 50px;
	justify-content: space-between;
	left: 0;
	padding: var(--gap, $l-gap);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: auto;

}

.preview-infos {
	align-items: center;
	display: flex;	
}


.preview-optionsWrap {

	position: relative;
	color: red;

}

.preview-menu {

	@extend %dropdown;
	min-width: 10rem;
	right: 0;	
	z-index: 1;

}

.preview-option {

	@extend %dropdownItem;
	border: 0;
	color: #fff;
	// cursor: pointer;
	// padding: calc(var(--gap, $l-gap) / 2) var(--gap, 1rem);
	// text-align: left;
	// text-decoration: none;
	// width: 100%;

	&:hover {
		background: $c-brandMain;
		background: var(--brandMain,$c-brandMain);
	}

}

.preview-description {

	background: rgba( $c-brandMain, .9 );
	left: 0;
	margin: 0;
	padding: 1rem;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1;

}

.statusbar {

	padding: 0 0.45rem;
	position: relative;

}



.status-current {
	
	@extend %status;
	cursor: pointer;
	margin-right: 0;

}



.status-menue {
	
	@extend %dropdown; 
	left: -0.5rem;
	z-index: 500;	

}

.status-option {
	
	@extend %dropdownItem;

	&:before {
		display: inline-block;
		content: '';
		@extend %status;
	}	

	&:hover {
		background-color: var(--brandMain, $c-brandMain);
	}

}

// Feedback Base --------- //

.preview-message {
	
	padding: $l-gap;
	padding: var(--gap, $l-gap);

	code {

		background-color: $c-brandDark;
		background-color: var(--brandDark, $c-brandDark);

	}

	.codeblock {
		
		display: block;
		font-size: 1.15em;
		padding: 2rem;
		margin: 2rem 0 3rem 0;
		max-width: 750px;

		&--inline {
			
			border-radius: 1rem;
			display: inline-block;
			padding: .3rem 0.5rem;

		}

	}

	
}