/* 
These are the styles that are needed to render our welcome dashboard. 
*/


// Dasboard Base --------- //

.dashboard {
  align-items: center;
  display: flex;
  grid-area: code / code / view / view; 
  justify-content: center;
}

// Dasboard Content



