//--------------------------------------------------------//


// Header Base --------- //

.header {
	background: $c-brandDark;
	background: var(--brandDark,$c-brandDark);
  	min-height: var(--headerheight); // only Min-height, so we can wrap if needed.
	grid-area: header;
	
}

// Header Content

.project-info {
	
  text-align: center;
  
}

.project-name {
	
	color: #fff;
	font-family: sans-serif;
	font-size: 0.75rem;
	text-decoration: none;
	
	&:hover {
		color: $c-positive;
		color: var(--positive, $c-positive);
	}

	> a { 

  		text-decoration: inherit; 	

  	}
  
}

.project-actions {
	
	padding: 0.375em 1rem;
	position: absolute;
	right: 0;
	top: 0;
	
}