//--------------------------------------------------------//


// Header Base --------- //

.header {
	background: var(--brandDark);
  	height: var(--headerheight);
	grid-area: header;
}

// Header Content

.project-info {
  text-align: center;
}

.project-name {
  font-family: sans-serif;
  font-size: 0.75rem;
}