
// Code Window Base --------- //

@import '~prismjs/themes/prism-okaidia.css';

.code {

	display: flex;	
	grid-area: code;
	padding: var(--gap, $l-gap);

	@include for-tablet-portrait-up {
		
		flex-direction: row;

	}

	@include for-desktop-up {

		flex-direction: column;

	}

}

// Content

.code-el {
	
	display: flex;	
	flex-direction: column;
	flex: 1 1 0;
	margin-bottom: 2rem;
	width: 100%;

}

.code-lang {
	align-content: center;
	display: flex;
	margin: 0;
}

.code-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 0 1rem 0;
	position: relative;

	&:after {

		background: linear-gradient(to bottom, $c-brandMain, rgba($c-brandMain,0));
		bottom: -1rem;
		content: '';
		display: block;
		height: 1rem;
		left: 0;
		position: absolute;
		width: calc(100% - 8px);
		z-index: 1;

	}

}

.code-type {
	display: inline-block;
}

.code-tabs {

	height: 100%;
	overflow: auto;
	padding-bottom: 1rem;
	position: relative;

	.tab {
		@include size(100%);
		border: 0;
		display: flex;
		left: 0;
		padding: 0;
		position: absolute;	
		top: 0;
	}

}

pre[class*="language-"] {
  background: var(--brandMain, $c-brandMain);
  padding: 0;
  width: 100%;
}

