//-------------------   LINKS    -----------------------//

/* 
These are the styles for all interactive elements that aren't buttons.
*/

a {
	color: inherit;
	display: inline-block;	
}

.back {
	padding: 0.5rem 1rem;
}