// GLOBAL Animation styles ----------------------------------------- //
/* 
These are the styles that we want to acces globally throughout the whole project.
Here you can find the definition & mixins for our transitions and animations. 
These are the only ones that are allowed. 
*/


// Fade-In Animation --- //

@mixin a-slideIn {
	animation-name: slideIn;	
	animation-duration: 300ms;
	animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	animation-iteration-count: 1;
}


@keyframes slideIn {
	
	0% {			
		opacity: 0;
		transform: scaleX(0.5) ()translateX(-1000px);

	}

	75% {		
		opacity: 1;
	}

	100% {		
		transform: scaleX(1) translateX(0px);
	}

}

// DropIn Animation --- //

@mixin a-dropIn {
	animation-name: dropIn;	
	animation-duration: 300ms;
	animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	animation-iteration-count: 1;
}


@keyframes dropIn {
	
	0% {				
		opacity: 0;
		transform: scaleY(0.5) ()translateY(-1000px);

	}

	75% {				
		opacity: 1;
	}

	100% {				
		transform: scaleY(1) translateY(0px);
	}

}


// Utility-Classes for Anims

.a-slideIn {
	@include a-slideIn;
}

.a-dropIn {
	@include a-dropIn;
}

