// MIXINS & PLACEHOLDERS

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin linebreaks {
	-ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

%clearfix {
	clear: both;
	content: '';
	display: block;
}
