:root {
  --brandMain: #03314B;
  --brandCon: #FFF621;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: var(--brandMain);
}

html {
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 100%;
}

.window {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px auto auto 80px;
  grid-template-areas: "header header header header" "code view view view" "code view view view" "code footer footer footer";
}

.header {
  height: 80px;
  grid-area: header;
}

.code {
  background: red;
  grid-area: code;
}

.view {
  background: yellow;
  grid-area: view;
}

.footer {
  background: lime;
  grid-area: footer;
}

.project-info {
  text-align: center;
}

.btn--create {
  background: none;
  border: 0;
}

.btn--create {
  background: var(--brandCon);
  color: var(--brandMain);
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.state-todo {
  color: red;
}

.state-review {
  color: orange;
}

.state-done {
  color: forestgreen;
}

.code {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #f5f2f0;
  border: 2px solid #949494;
  margin-left: 5px;
}

.design {
  max-height: 500px;
  max-width: 1200px;
}

.error {
  color: red;
}

